* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    background-color: #000032;
    font-size: 1.4em !important;
}

.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: none;
    color: white;
}

.nav-item{
    padding-right: 1em;
}